<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:hello="http://hello">
<head>
<meta charset="ISO-8859-1">
<title>Custom</title>
</head>
<body>
	<p hello:sayto="world aaaaa">Say To Taglib</p>
	<ul>
		<li th:each="planet : ${planets}" hello:saytoplanet="${planet}">Hello
			Planet!</li>
	</ul>
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Description</th>
		</tr>
		<tr th:each="p : ${products}">
			<td th:utext="${p.id}"></td>
			<td th:utext="${p.name}"></td>
			<td th:utext="${p.description}">}</td>
		</tr>
	</table>
	<hello:paging th:attr="page=${page}, rows=${rows}, total=${totalCount}" />

</body>
</html>